<p id="notice"><%= notice %></p>

<p>
  <strong>catelogyName:</strong>
  <%= @catelogy.catelogyName %>
</p>

<%= link_to 'Edit', edit_catelogy_path(@catelogy) %> |
<%= link_to 'Back', catelogies_path %>
